

// бордер для табов при стоке
.tab_stock {
    background: #FFFFFF;
    border: 1px solid #6DB6FA;
    box-sizing: border-box;
}
// бордер для табов при стоке

// бордер для плус минус
.border_dop{
    border: 1px solid #6DB6FA;
    box-sizing: border-box;
    border-radius: 4px;
}
// бордер для плус минус
// font-size для текста
.fsz_text{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}
.fsz_tab {
    font-family: 'Rubik', sans-serif; 
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
}
.fsz_mini {
    font-family: 'Rubik', sans-serif; 
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
}
// font-size для текста


// hover 
.tab-nav__item:hover{
    background: #E1F5FE;
}

.hover-type:hover {
    background: #E1F5FE;
    border: 1px solid transparent;
}
.drop-hover:hover {
    background: #6DB6FA;
    color: #FFFFFF;
}
// hover

// активный плюс минус
.active_cube {
    display: block;
}
// активный плюс минус

// actuve TAB NAV
.tab-bg {
    background: #E1F5FE;
}
// actuve TAB NAV

// активный таб NAV ниже

.tab-type_active {
    background: #E1F5FE;
    border: 1px solid transparent;
}
// активный таб


.tab-clear_active{
    display: flex;
}

.svg-opac {
    display: none;

}
.svg_active{
    opacity: 1;
    pointer-events: all;
}
.span-add_active {
    opacity: 1;
    pointer-events: all;
}

.drop-sync {
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}
.drop-sync_active {
    opacity: 1;
    pointer-events: all;
}
.mat-drop_active {
    opacity: 1;
    pointer-events: all;
}
