.tab-type {
    margin-top: 40px;
    &__title {
        p {
            color: $gray;
            margin-bottom: 10px;
        }
    }

    &__one {
        display: none;
    }


    &__two {
        // подставить display:flex;
        display: none;
    }

    &__three {
        // подставить display:flex;
        display: none;
    }
    
}

.tab-children {
    display: flex;
    align-items: center;
    img {
        padding: 6px 15px 6px 15px;
        cursor: pointer;
        
    }
}
.tab {

    &_stock {
    }
}
