@import "./media";
@import "./fonts.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:active,&:focus{
        outline: none;
    }
}
body{
    font-family: 'Rubik', sans-serif;
    width: 100%;
    max-width: 100%;
    // overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;

}

.container{
    max-width: 1200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.calc {
    margin-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
}
.container {
}
.calc-form {
    display: flex;
    width: 100%;
    justify-content: center;
}

